html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
}
.head {
	color: white;
	padding: 20px 0;
	background: #00122F;
}

.container {
	width: 990px;
	margin: auto;
	position: relative;
}
.container > a {
	color: white;
}
.data {
	float: right;
}
.logo img {
	position: relative;
	padding: 40px 0;
}

li {
	display: inline-block;
	float: left;
    padding-left: 42px;
}

.menu {
	margin-left: 0;
}
.menu ul {
	padding: 0;
}
.central-container {
	margin-top: 70px;
	padding-top: 20px;
	background-color: #f9f9f9;
	background-image: url("img/central-bg-top.png");
	background-repeat: repeat-x;
}
.central-container .container {
	overflow-y: hidden;
}

.column-left {
	background-color: red;
	width: 250px;
	float: left;
}
.column-center {
	background: green;
	width: 450px;
	margin-left: 20px;
	float: left;
}
.column-right {
	width: 250px;
	float: right;
}

.column-right img {
	padding-bottom: 20px;
}