html, body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
}
.head {
	color: white;
	padding: 20px 0;
	background: #00122F;
}
h2 {
	font-family: Arial;
	font-size:20px ;
	padding: 27px 0 27px 18px;
	margin: 0 0 24px;
	border-bottom: 1px solid #91919f;
}

.container {
	width: 990px;
	margin: auto;
	position: relative;
}
.container > a {
	color: white;
}
.data {
	float: right;
}
.logo img {
	position: relative;
	padding: 40px 0;
}

.search {
	width: 318px;
	height: 44px;
	border-radius: 20px;
	border-color: transparent;
	float: right;
	margin-top: -100px;
	padding-right: 10px;
	background-color: #F3F3F3;
}
input::placeholder {
	padding-left: 15px;
}

.city {
    position: relative;
    left: 210px;
    /* top: -68px; */
    bottom: 70px;
    /* float: right; */
}

li {
	display: inline-block;
	float: left;
    padding-right: 42px;
}

li::after {
    content: "";
    background-color: #dcdcd9;
    width: 1.5px;
    height: 15px;
    position: absolute;
    transform: rotate(25deg);
    margin-left: 15px;
}

.menu {
	margin-left: 0;
}
.menu ul {
	padding: 0;
	float: left;
}
.central-container {
	margin-top: 70px;
	padding-top: 20px;
	background-color: #F9F9F9;
	background-image: url("img/central-bg-top.png");
	background-repeat: repeat-x;
}
.central-container .container {
	overflow-y: hidden;
}

.column-left {
	background-color: rgb(255, 255, 255);
	width: 250px;
	float: left;
}

.news-item {
	padding-left: 18px;
	margin-bottom: 27px;
	font-size: 14px;
}
.news-text {
	margin-bottom: 20px;
}
.news-props {
	font-size: 12px;
	position: relative;
}

.news-props a {
	color: #91919f;
	text-decoration: none;
}
.news-time {
	position: absolute;
	top: 0;
	padding-left: 15px;
	left: 120px;
	background-image: url("img/icon-time.png");
	background-repeat: no-repeat;
}
.news-coments {
	position: absolute;
	top: 0;
	left: 180px;
	padding-left: 15px;
	background-image: url("img/icon-comments.png");
	background-repeat: no-repeat;
}

.column-center {
	background: green;
	width: 450px;
	margin-left: 20px;
	float: left;
	color: white;
}
.center-main a {
	position: absolute;
	z-index: 2;
	font-size: 12px;
	color: white;
	top: 115px;
	padding-left: 20px;
}
.center-main h1 {
	position: absolute;
	z-index: 2;
	top: 150px;
	padding-left: 20px;
}
.center-iteam {
	position: relative;
	z-index: 2;
}
/*.center-main .news-date {
	position: absolute;
	z-index: 2;
	top: 180px;
	padding-left: 20px;
}*/
.column-right {
	width: 250px;
	float: right;
}

.column-right img {
	padding-bottom: 20px;
}